<style>
	.navegador{
		float:left;
		overflow: hidden;
		width:95%;
		padding:10px;
		text-align:center;
	}
	
	.ultipo1{
		display:inline-block;
		width:15%;
		text-align:center;
		list-style:none;
	}
	
	.menu{
	    width: 100%;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    background: navy;
	    border-radius:20px;
	    margin-bottom:100px;
	    color:white;
	  }
	  	
	  .menu:hover{
		 background:blue;
	 }
	 
	 .menu:active{
	 	color:orange;
	 }
	  	
	 .enlace{
	 	text-decoration:none;
	 	font-size:20px;
	 	color:white;
	 } 	
	 
	 .enlace:active{
	 	color:orange;
	 }
	 

	 
</style>
<nav class="navegador">
	<ul class="ultipo1">
		<a class="enlace" href="/"><li class="menu">Home</li></a>
	</ul>
	<ul class="ultipo1">
		<a class="enlace" href="/clasificacion"><li class="menu">Clasificacion</li></a>
	</ul>
	<ul class="ultipo1">
		<a class="enlace" href="/jornadas"><li class="menu">Calendario</li></a>
	</ul>
	<ul class="ultipo1">
		<a class="enlace" href="/noticias"><li class="menu">Noticias</li></a>
	</ul>
	
</nav>	