<style>
	.logos{
		float:left;
		overflow: hidden;
		width:95%;
		padding:5px;
		text-align:center;
	}
	
	.ultipo2{
		display:inline-block;
		width:8%;
		text-align:center;
		list-style:none;
	}
	
	.atl,.bos,.chi,.char,.bro,.cle,.mia,.ny,.det,.orl,.phi,.ind,.was,.tor,.mil,.dal,.den,.gsw,.hou,.min,.cli,.mem,.okl,.lal,.pel,.por,.pho,.sas,.uta,.sac,.nba{
	    width: 100%;
	    padding:5px;
	    border-radius:20px; !important
	  }
	  	
	 .atl2,.bos2,.chi2,.char2,.bro2,.cle2,.mia2,.ny2,.det2,.orl2,.phi2,.ind2,.was2,.tor2,.mil2,.dal2,.den2,.gsw2,.hou2,.min2,.cli2,.mem2,.okl2,.lal2,.pel2,.por2,.pho2,.sas2,.uta2,.sac2,.nba2{
	 	text-decoration:none;
	 	font-size:20px;
	 } 
	 
	.atl{border:5px solid #E1EC45;color:#E1EC45;background:red;}	
	.bos{border:5px solid #2EB059; color:#2EB059;background:white;}
	.chi{border:5px solid #BC1319;color:#BC1319;background:#F04A4A;}
	.char{border:5px solid #32BED9;color:#32BED9;background:#6454CB;}
	.bro{border:5px solid black;color:white;background:black;}
	.cle{border:5px solid #DFD575;color:#DFD575;background:#511111;}
	.mia{border:5px solid black;color:black;background:#871818;}
	.ny{border:5px solid #FE8801;color:#FE8801;background:#015EFE;}
	.det{border:5px solid #015EFE;color:#015EFE;background:#D43061;}
	.orl{border:5px solid #0976E3;color:#0976E3;background:white;}
	.phi{border:5px solid #EF2258;color:white;background:#227BEF;}
	.ind{border:5px solid #EFE122;color:#EFE122;background:#00159B;}
	.was{border:5px solid #F20141;color:white;background:#022A7B;}
	.tor{border:5px solid #FE2828;color:#241F1F;background:white;}	
	.mil{border:5px solid #086129;color:#086129;background:#E7FB96;}
	.dal{border:5px solid #2D83E5;color:#2D83E5;background:white;}
	.den{border:5px solid #FEFE73;color:#FEFE73;background:#56C7F7;}
	.gsw{border:5px solid #E8E350;color:#E8E350;background:#50A1E8;}
	.hou{border:5px solid #DF0E0E;color:#DF0E0E;background:white;}
	.min{border:5px solid #A2F91F;color:#A2F91F;background:#1E478E;}
	.cli{border:5px solid #FE7AE8;color:white;background:#4675E2;}	 
	.mem{border:5px solid #558ACE;color:#558ACE;background:white;}
	.okl{border:5px solid #FEB940;color:#FEB940;background:#1143E5;}
	.lal{border:5px solid #A511E5;color:#A511E5;background:#F3B525;}
	.pel{border:5px solid #DF4444;color:#DF4444;background:#000591;}
	.por{border:5px solid black;color:black;background:#EC2314;}
	.pho{border:5px solid #F3B525;color:#F3B525;background:#3C005A;}
	.sas{border:5px solid black;color:black;background:#D5D5D5;}
	.uta{border:5px solid #FBFB01;color:#FBFB01;background:#120086;}
	.sac{border:5px solid #7E298C;color:#7E298C;background:#BABABA;}
	.nba{border:5px solid black;color:white;background:black;}
	
	
	
	
</style>
<nav class="logos">
	<ul class="ultipo2"><a class="atl2" href="/noticias/Atlanta"><li class="atl">Atlanta</li></a></ul>
	<ul class="ultipo2"><a class="bos2" href="/noticias/Boston"><li class="bos">Boston</li></a></ul>
	<ul class="ultipo2"><a class="chi2" href="/noticias/Chicago"><li class="chi">Chicago</li></a></ul>
	<ul class="ultipo2"><a class="char2"href="/noticias/Charlotte"><li class="char">Charlotte</li></a></ul>
	<ul class="ultipo2"><a class="bro2" href="/noticias/Brooklyn"><li class="bro">Brooklyn</li></a></ul>
	<ul class="ultipo2"><a class="cle2" href="/noticias/Cleveland"><li class="cle">Cleveland</li></a></ul>
	<ul class="ultipo2"><a class="mia2" href="/noticias/Miami"><li class="mia">Miami</li></a></ul>
	<ul class="ultipo2"><a class="ny2"  href="/noticias/NewYork"><li class="ny">New York</li></a></ul>
	<ul class="ultipo2"><a class="det2" href="/noticias/Detroit"><li class="det">Detroit</li></a></ul>
	<ul class="ultipo2"><a class="orl2" href="/noticias/Orlando"><li class="orl">Orlando</li></a></ul>
	<ul class="ultipo2"><a class="phi2" href="/noticias/Philadelphia"><li class="phi">Philadelphia</li></a></ul>
	<ul class="ultipo2"><a class="ind2" href="/noticias/Indiana"><li class="ind">Indiana</li></a></ul>
	<ul class="ultipo2"><a class="was2" href="/noticias/Washington"><li class="was">Washington</li></a></ul>
	<ul class="ultipo2"><a class="tor2" href="/noticias/Toronto"><li class="tor">Toronto</li></a></ul>
	<ul class="ultipo2"><a class="mil2" href="/noticias/Milwakee"><li class="mil">Milwakee</li></a></ul>
	<ul class="ultipo2"><a class="dal2" href="/noticias/Dallas"><li class="dal">Dallas</li></a></ul>
	<ul class="ultipo2"><a class="den2" href="/noticias/Denver"><li class="den">Denver</li></a></ul>
	<ul class="ultipo2"><a class="gsw2" href="/noticias/GoldenState"><li class="gsw">Golden State</li></a></ul>
	<ul class="ultipo2"><a class="hou2" href="/noticias/Houston"><li class="hou">Houston</li></a></ul>
	<ul class="ultipo2"><a class="min2" href="/noticias/Minnesota"><li class="min">Minnesota</li></a></ul>
	<ul class="ultipo2"><a class="cli2" href="/noticias/Clippers"><li class="cli">LA Clippers</li></a></ul>
	<ul class="ultipo2"><a class="mem2" href="/noticias/Memphis"><li class="mem">Memphis</li></a></ul>
	<ul class="ultipo2"><a class="okl2" href="/noticias/Oklahoma"><li class="okl">Oklahoma</li></a></ul>
	<ul class="ultipo2"><a class="lal2" href="/noticias/Lakers"><li class="lal">LA Lakers</li></a></ul>
	<ul class="ultipo2"><a class="pel2" href="/noticias/Pelicans"><li class="pel">New Orleans</li></a></ul>
	<ul class="ultipo2"><a class="por2" href="/noticias/Portland"><li class="por">Portland</li></a></ul>
	<ul class="ultipo2"><a class="pho2" href="/noticias/Phoenix"><li class="pho">Phoenix</li></a></ul>
	<ul class="ultipo2"><a class="sas2" href="/noticias/SanAntonio"><li class="sas">San Antonio</li></a></ul>
	<ul class="ultipo2"><a class="uta2" href="/noticias/Utah"><li class="uta">Utah</li></a></ul>
	<ul class="ultipo2"><a class="sac2" href="/noticias/Sacramento"><li class="sac">Sacramento</li></a></ul>
	<ul class="ultipo2"><a class="nba2" href="/noticias/NBA"><li class="nba">NBA</li></a></ul>
</nav>